@import "util.scss";

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 100px;
}
body{
    font-size: 0.16rem;
}
.container{
    margin: 0 auto;
    height: 100%;
    @include flexBox;
    @include flex-direction("column");


.header{
    width: 100%;
    height: 0.44rem;
    background-color:#f66;
    @include flex-center;   
}
#content{
    width: 100%;
    @include flex(1)
}
.footer{
    width: 100%;
    height: 0.5rem;
    background-color:#eee ;
    ul{
        width: 100%;
        height: 100%;
        @include flexBox;
        li{
            height: 100%;
            @include flex(1);
            @include flex-center;
            
            &.active{
                color:#f66;
            }
        }
    }
    
}
}